# Media automounting

ACTION=="remove", GOTO="automount_rules_end"
SUBSYSTEM!="block", GOTO="automount_rules_end"
ENV{ID_FS_USAGE}!="filesystem", GOTO="automount_rules_end"

SUBSYSTEMS=="usb", RUN+="/usr/bin/usbmount --owner=projects /dev/%k"

LABEL="automount_rules_end"
