[Unit]
PartOf=%i.automount

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=SERVICE=cz.prusa3d.sl1.printer0
Environment=INTERFACE=cz.prusa3d.sl1.printer0
Environment=OBJECT=/cz/prusa3d/sl1/printer0
ExecStart=/usr/bin/busctl --system --expect-reply=no call $SERVICE $OBJECT $INTERFACE add_usb
ExecStop=/usr/bin/busctl --system --expect-reply=no call $SERVICE $OBJECT $INTERFACE remove_usb
