[Unit]
Description=Rauc Good-marking Service
After=slafw.service touch-ui.service
Requires=slafw.service touch-ui.service

[Service]
ExecStart=@BINDIR@/rauc status mark-good

[Install]
WantedBy=multi-user.target

