/build
/vscode-bitbake-build
bitbake.lock
pseudodone
*.dot
*.pem
/*.raucb
/*.etc.ext4
/*.manifest
/*.changelog.md
/*.known-issues.txt
/*.devsd.*
/*.bootstrapsd.*
log.txt.xz
/vscode-bitbake-build
/Image-*
sources
meta-sl1
