[Unit]
Description=HTTP digest key generator for local REST API
ConditionPathExists=!/etc/sl1fw/api.key
Before=nginx.service remote_api_link.service slafw.service

[Service]
Type=oneshot
ExecStart=/usr/bin/htdigest-keygen.sh
 
[Install]
WantedBy=multi-user.target
