[Unit]
Description=User flashdisk mount

[Mount]
What=/dev/sda1
Where=/home/root/usb
Type=auto
Options=defaults,ro,noatime,noauto,fmask=0333,dmask=0222,codepage=852,iocharset=utf8

[Install]
WantedBy=local-fs.target
