[Unit]
Description=SL1 firmware
Requires=mnt-usb.automount mnt-rootfs.automount
After=network.target

[Service]
ExecStart=/usr/bin/nohup /usr/bin/main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target


