[Unit]
Description=SL1 firmware
Requires=mnt-usb.automount mnt-rootfs.automount
After=network.target

[Service]
WorkingDirectory=/usr/share/sl1fw
ExecStartPre=/usr/sbin/fbset -fb /dev/fb0 1440x2560-0
ExecStartPre=/usr/bin/sh -c "/usr/bin/echo 0 > /sys/class/vtconsole/vtcon1/bind"
ExecStart=/usr/bin/nohup /usr/bin/main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target


