[Unit]
Description=Prusa SL1 File Manager
ConditionDirectoryNotEmpty=/etc/sl1fw/model

[Service]
Type=dbus
BusName=cz.prusa3d.sl1.filemanager0
ExecStart=/usr/bin/python3 -OO -m sl1fw_fs
Restart=always
RestartSec=3
SupplementaryGroups=projects

[Install]
WantedBy=multi-user.target
