[Unit]
Description=Prusa SLA splash screen
DefaultDependencies=no

Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sh -c "xzcat /usr/share/splash/prusa-sla-splash.fbimg.xz > /dev/fb0"
ExecStartPost=/usr/bin/sh -c "echo 10 > /sys/class/backlight/backlight/brightness"
ExecStop=/usr/bin/sh -c "xzcat /usr/share/splash/prusa-sla-splash.fbimg.xz > /dev/fb0"


[Install]
WantedBy=sysinit.target
