# This template file was created by taking the oe-core/meta/conf/bblayers.conf
# file and removing the BBLAYERS section at the end.

# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/sources/meta-prusa \
  ##OEROOT##/sources/meta-rauc \
  ##OEROOT##/sources/meta-qt5 \
  ##OEROOT##/sources/meta-openembedded/meta-initramfs \
  ##OEROOT##/sources/meta-openembedded/meta-oe \
  ##OEROOT##/sources/meta-openembedded/meta-webserver \
  ##OEROOT##/sources/meta-openembedded/meta-networking \
  ##OEROOT##/sources/meta-openembedded/meta-python \
  ##OEROOT##/sources/meta-openembedded/meta-multimedia  \
  ##OEROOT##/sources/meta-openembedded/meta-filesystems \
  ##OEROOT##/sources/meta-microcontroller \
  ##OEROOT##/sources/oe-core/meta \
  "
