# CONF_VERSION is increased each time build/conf/ changes incompatibly
CONF_VERSION = "1"

MACHINE = "prusa64-sl1"
PATCHRESOLVE = "noop"

BB_NUMBER_THREADS ?= "4"
PARALLEL_MAKE ?= "-j 4"
DISTRO   = "prusa"

TERMCMD = "${XTERM_TERMCMD}"
TERMCMDRUN = "${XTERM_TERMCMDRUN}"

# Don't generate the mirror tarball for SCM repos, the snapshot is enough
BB_GENERATE_MIRROR_TARBALLS = "0"

# Enable local PR service for binary feeds
PRSERV_HOST ?= "localhost:0"

# It is recommended to activate "buildhistory" for testing the PR service
INHERIT += "buildhistory"
INHERIT += "rm_work"
BUILDHISTORY_COMMIT = "1"
