# CONF_VERSION is increased each time build/conf/ changes incompatibly
CONF_VERSION = "1"

DISTRO   = "prusa"
MACHINE = "prusa64-sl1"
PATCHRESOLVE = "noop"

BB_NUMBER_THREADS ?= "${@oe.utils.cpu_count()}"
PARALLEL_MAKE ?= "-j ${@oe.utils.cpu_count()} -l ${@oe.utils.cpu_count() - 1}"

# Don't generate the mirror tarball for SCM repos, the snapshot is enough
BB_GENERATE_MIRROR_TARBALLS = "0"

INHERIT += "rm_work"
