#
# Emergency Rauc update executor service
# Copyright 2019, Prusa Research s.r.o.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#
# Prusa Research s.r.o.
# Partyzánská 188/7a,
# 17000 Praha 7,
# Czech Republic
#
# info@prusa3d.com
#

[Unit]
Description=Emergency update service

[Service]
Type=simple
RemainAfterExit=yes
Environment=EMERGENCY_PATTERN="/dev/.* /run/media/system/.*"
Environment=EMERGENCY_PATH="/run/media/system/*"
Environment=EMERGENCY_FILE="/run/media/system/**/sla-emergency-update.raucb"
ExecStart=/usr/bin/sh -c 'while ! cat /proc/mounts | grep -q "${EMERGENCY_PATTERN}" ; do sleep 5; ls ${EMERGENCY_PATH} > /dev/null 2>&1; done; if [ -f ${EMERGENCY_FILE} ]; then rauc install ${EMERGENCY_FILE} && systemctl reboot; fi;'
 
[Install]
WantedBy=multi-user.target
