[Unit]
After=weston.service touch-ui.service
BindsTo=weston.service

[Service]
Type=simple
ExecStart=/usr/bin/weston-simple-framebuffer
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_RUNTIME_DIR=/run/user/0
User=root

[Install]
WantedBy=graphical.target
