[Unit]
Description=Prusa SLA File Manager
After=model-detect.service
Before=touch-ui.service slafw.service remote-api-link.service

[Service]
Type=dbus
BusName=cz.prusa3d.sl1.filemanager0
ExecStart=/usr/bin/python3 -OO -m filemanager
Restart=always
RestartSec=3
SupplementaryGroups=projects

[Install]
WantedBy=multi-user.target
