[Unit]
Description=Mount boot partition
DefaultDependencies=yes

[Mount]
What=/dev/disk/by-path/platform-1c0f000.mmc-part1
Where=/boot
Type=vfat

[Install]
WantedBy=local-fs.target
