[Unit]
Description=Octoprint-like file upload service (for uploading files from slic3r)
After=sl1fw.service

[Service]
WorkingDirectory=/var/run/sl1fw
ExecStart=/usr/bin/octo-uploadd.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
