[Unit]
Description=Mount factory partition
DefaultDependencies=yes

[Mount]
What=/dev/disk/by-partlabel/factory
Where=/usr/share/factory/defaults
Type=ext4
Options=ro

[Install]
WantedBy=local-fs.target
