[Unit]
Description=SL1 Client
After=weston.service
BindsTo=weston.service

[Service]
RuntimeDirectory=touch-ui
WorkingDirectory=/run/touch-ui
ConfigurationDirectory=touch-ui
Environment="HOME=/run/touch-ui"
Environment="QT_QPA_PLATFORM=wayland"
Environment="WAYLAND_DISPLAY=wayland-0"
ExecStart=/usr/bin/touch-ui
User=root
PAMName=login
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
