[Unit]
Description=SL1 Client
After=sl1fw.service weston.service
BindsTo=weston.service

[Service]
WorkingDirectory=/run/sl1fw
ConfigurationDirectory=touch-ui
Environment="HOME=/run/sl1fw"
Environment="QT_QPA_PLATFORM=wayland"
Environment="WAYLAND_DISPLAY=wayland-0"
ExecStart=/usr/bin/touch-ui
User=root
PAMName=login
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
