[Unit]
Description=Udiskie automount
After=udisks2.service
Requires=udisks2.service

[Service]
ExecStart=/usr/bin/udiskie -c /etc/udiskie.yaml

[Install]
WantedBy=multi-user.target
